.App {
  text-align: center;
}
.username{
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  font-weight: normal;
}

.Img{
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;

}
.propname{
  font-style: italic;
}